
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <link rel="stylesheet" href="https://match3test.plamee.com/facebook/client/match3-buttons.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="https://match3test.plamee.com/facebook/client/match3-content.css" type="text/css" media="screen" />

        <title></title>
        <meta name="google" value="notranslate" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css" media="screen">
            #flashContent { display:none; }
        </style>

        <script type="text/javascript" src="https://match3test.plamee.com/facebook/client/swfobject.js"></script>
        <script type="text/javascript">
            var swfVersionStr = "11.4.0";
            var xiSwfUrlStr = "https://match3test.plamee.com/facebook/client/playerProductInstall.swf";
            var flashvars = <%= flashvars %>;
            var params = {
                quality: "high",
                bgcolor: "#000000",
                allowscriptaccess: "sameDomain",
                allowfullscreen: "true",
                allowfullscreeninteractive: "true",
                scale: "default",
                wmode: "opaque"
            };
            var attributes = {
                id: "Match3Client",
                name: "Match3Client"
            };
            swfobject.embedSWF(
                "https://match3test.plamee.com/facebook/client/Match3Client.swf", "flashContent",
                "100%", "100%",
                swfVersionStr, xiSwfUrlStr,
                flashvars, params, attributes
            );
            // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
            swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        </script>
        <script>
            var handle = null;
            var isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0;

            var ID_CHROME = "chrome";
            var ID_SAFARI = "safari";
            var ID_DEFAULT = "default";

            var clientId = ID_DEFAULT;
            if (navigator.userAgent.indexOf('Safari') > -1) {
                if (navigator.userAgent.indexOf('Chrome') > -1) {
                    clientId = ID_CHROME;
                } else {
                    clientId = ID_SAFARI;
                }
            }

            function wheel(event) {
                    var delta = 0;
                    if (!event) event = window.event; // Событие IE.
                    // Установим кроссбраузерную delta
                    if (event.wheelDelta) {
                            if (clientId == ID_SAFARI) {
                                delta = event.wheelDelta/12;
                            } else {
                                // IE, Opera, chrome - кратность дельта равна 120
                                delta = event.wheelDelta/120;
                            }
                    } else if (event.detail) {
                            if (isMac) {
                                delta = -event.detail;
                            } else {
                                // Mozilla WIN, кратность дельта равна -3
                                delta = -event.detail/3;
                            }
                    }
                    // Вспомогательня функция обработки mousewheel
                    if (delta && typeof handle == 'function') {
                            handle(delta, event.ctrlKey, event.altKey, event.shiftKey);
                            // Отменим текущее событие - событие поумолчанию (скролинг окна).
                            if (event.preventDefault) {
                                event.preventDefault();
                            }
                            event.returnValue = false; // для IE
                    }
            }

            // Инициализация события mousewheel
            if (window.addEventListener) { // mozilla, safari, chrome
                window.addEventListener('DOMMouseScroll', wheel, false);
            }
            // IE, Opera.
            window.onmousewheel = document.onmousewheel = wheel;

            function initMouseWheelScript(id) {
                var _container = document.getElementById(id);

                // Инициализация вспомогательной функции
                _container.onmouseover = function() {
                   handle = over;
                };
                // Удаление вспомогательной функции
                _container.onmouseout = function() {
                   handle = null;
                };

                function over(delta, ctrlKey, altKey, shiftKey) {
                    _container.triggerMouseWheelEvent(delta, ctrlKey, altKey, shiftKey);
                }
            }

        </script>
    </head>
    <body>
        <div id="match3">
            <div id ="top">
                <div id ="navigation-menu">
                    <ul>
                        <li><a class="button-support" href="#"></a></li><!--
                     --><li><a class="button-fan" href="#"></a></li><!--
                     --><li><a class="button-help" href="#"></a></li><!--
                     --><li><a class="button-inbox" href="#"></a></li><!--
                     --><li><a class="button-languages" href="#"></a></li>
                    </ul>
                </div>
            </div>

            <div id ="gameContainer" style="height:94%">
                <div id ="game">
                    <div id="flashContent">
                        <p>
                            To view this page ensure that Adobe Flash Player version
                            11.4.0 or greater is installed.
                        </p>
                        <script type="text/javascript">
                            var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
                            document.write("<a href='" + pageHost + "www.adobe.com/go/getflashplayer'><img src='" +
                                            pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" );
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="760" height="640" id="Match3Client">
                <param name="movie" value="https://match3test.plamee.com/facebook/client/Match3Client.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="allowFullScreen" value="true" />
                <param name="allowFullScreenInteractive" value="true" />
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="https://match3test.plamee.com/facebook/client/Match3Client.swf" width="760" height="640">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowFullScreenInteractive" value="true" />
                <!--<![endif]-->
                <!--[if gte IE 6]>-->
                    <p>
                        Either scripts and active content are not permitted to run or Adobe Flash Player version
                        11.4.0 or greater is not installed.
                    </p>
                <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                    </a>
                <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
            </object>
        </noscript>
   </body>
</html>
